In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
samples = list(range(151507, 151511)) + list(range(151669, 151677))

In [20]:
def fix(x):
    if 'str' in str(type(x)):
        if x == 'WM':
            return 0
        return float(x[1])
    else:
        return ""

for sample in samples:
    df = pd.read_csv('../' + str(sample) + '/manual_annotations.csv',index_col=0)
    # df['label'] = df['label'].apply(fix)
    df.to_csv('../' + str(sample) + '/manual_annotations.csv', index=False)
# df

In [17]:
df

              Unnamed: 0 label
0     AAACAAGTATCTCCCA-1   3.0
1     AAACAATCTACTAGCA-1   1.0
2     AAACACCAATAACTGC-1     0
3     AAACAGAGCGACTCCT-1   3.0
4     AAACAGGGTCTATATT-1   6.0
...                  ...   ...
3455  TTGTTGTGTGTCAAGA-1   6.0
3456  TTGTTTCACATCCAGG-1     0
3457  TTGTTTCATTAGTCTA-1     0
3458  TTGTTTCCATACAACT-1   6.0
3459  TTGTTTGTGTAAATTC-1   1.0

[3460 rows x 2 columns]